<ion-view view-title="{{'Conference Guide' | location }}">
	<ion-nav-buttons side="left">
		<a class="button  icon ion-android-menu" style="border:0px" ng-click="showMenu($event)"></a>
	</ion-nav-buttons>  
	<ion-content overflow-scroll="false" scroll="true" delegate-handle="meet-main-scroll" has-bouncing = "false">
		<ion-list  type="list-inset">
			<ion-item  ng-repeat ="item in listTitles" ng-switch="item.show" style="padding:5px" >
				<div ng-click="operaItem($index)">
					<label class='input-label'>{{item.name | location}}</label>
				</div>
				<img src='{{item.content.src}}' ng-switch-when="true" style="width:100%" ng-click="sectionImgClick(item)">
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>