<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
 

<ion-tabs class="tabs-icon-top tabs-color-active-positive"  ng-class={'tabs-item-hide':hideTabs}>
    <ion-tab icon-on="ion-ios-home" icon-off="ion-ios-home-outline" title="首页" href="#/tab/home">
          <ion-nav-view name="tab-home">
            
          </ion-nav-view>
    </ion-tab>
    <ion-tab icon-on="ion-ios-book" icon-off="ion-ios-book-outline" title="指导" href="#/tab/meet">
        <ion-nav-view name="tab-meet">
    
        </ion-nav-view>
    </ion-tab>
    <ion-tab icon-on="ion-ios-copy" icon-off="ion-ios-copy-outline" title="新闻" href="#/tab/news">
        <ion-nav-view name="tab-news">
    
        </ion-nav-view>
    </ion-tab>
    <ion-tab icon-on="ion-ios-cog" icon-off="ion-ios-cog-outline" title="设置" href="#/tab/settings">
        <ion-nav-view name="tab-settings">
    
        </ion-nav-view>
    </ion-tab>
</ion-tabs>

