<ion-view view-title="议程详情">
    <ion-content has-subheader="true">
        <div>
            <div style="padding:15px 40px 10px 15px;font-size:15px;white-space:normal;word-wrap:break-word">
                {{model.theme_name}}
            </div>
            <div style="position:absolute;top:10px;right:5px" ng-switch="model.is_collect">
                <a class="button button-small icon ion-ios-star-outline" ng-switch-when="0" style="border:0px;background-color: #FFF" ng-click="collectClick()"></a>
                <a class="button button-small icon ion-ios-star" ng-switch-when="1" style="border:0px;background-color: #FFF;color:#F00" ng-click="collectClick()"></a>
            </div>
            <div style="height:1px;width:100%;background-color:#AAAAAA"></div>
            <div style="padding:5px 10px 5px 20px">演讲嘉宾: {{model.theme_guest[0].guest_name}}</div>
            <div style="padding:5px 10px 5px 20px">地点: {{model.address}}</div>
            <div style="padding:0px 10px 5px 20px">时间: {{model.date}} {{model.time}}</div>
            <div style="height:30px;background-color:#EFEFF6" class="row">
                <div class="col col-10"></div>
                <div class="col col-10" style="">
                    <img src="images/home/home_guest_title.png" style="width:20px;height:20px;margin-top:5px" />
                </div>
                
                <div class="col" style="line-height:30px;font-size:18px">嘉宾</div>
            </div>
        </div>
        <ul>
            <li  ng-repeat="one in model.theme_guest" style="position:relative">
                <img ng-src="one.avatar" style="width:40px;height:40px;border-radius: 20px;position: absolute;top:15px;left:20px" async></img>
                <div style="padding-left:80px;padding-top: 15px">{{one.guest_name}}</div>
                <div style="padding-left:80px;padding-right:10px;white-space:normal;word-wrap:break-word">{{one.position}}</div>
            </li>
        </ul>
    </ion-content>
</ion-view>
