<ion-view view-title="嘉宾演讲">
    <ion-content has-subheader="true">
        <input-module placeholder="姓名,职位,公司" showclear="false" placeholder="取消"></input-module>
        <div style="width:100%;height:20px;background-color:#EFEFF6"></div>
        <ul class="list">
            <li class="item item-avatar" ng-repeat="speaker in Speakers" ng-click="lookDetail(speaker)">
                <img ng-src="speaker.avatar" async>
                <h2>{{speaker.guest_name}}</h2>
                <p>{{speaker.company}}</p>
                <p style="white-space:normal;word-wrap:break-word">{{speaker.position}}</p>
            </li>
        </ul>
    </ion-content>
</ion-view>